PORT=3000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
OPENWEATHER_API_KEY=your_openweathermap_api_key_here
MQTT_BROKER_URL=mqtt://localhost:1883
